@fsize1: 3.2em;
@fsize2: 2.6em;
@fsize3: 2em;
@fsize4: 1.4em;
@fsize5: 1em;
@fsize6: 0.8em;
@color1: #003D00;
@color1a: #145314;
@color1b: #1B6F1B;
@color1c: #1F7D1F;
@color1d: #7AB97A;

@color2: #4B6318;
@color2a: #6B8E23;
@color2b: #97B065;
@color2c: #C4D2A7;

@color3: #ffffff;
@color3a: #9F9F9F;
@color3b: #8E9E9E;

.transparent(@opacity,@opacity2) {
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity)";
  filter: alpha(opacity=@opacity);
  -moz-opacity: @opacity2;
  -khtml-opacity: @opacity2;
  opacity: @opacity2;
}

body, html {
  padding-top: 1.75em;
  font-family: 'Open Sans', sans-serif;
}

.nav {
  font-family: 'Open Sans Condensed', sans-serif;
}

.tab-content {
  h3 {
    margin: 0;
    padding: 5px 0px 10px;
  }
}

h1, h3, h5 {
  font-family: 'Open Sans Condensed', sans-serif;
}

h2, h4, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

p, li, dl {
  font-size: @fsize5;
}

p {
  text-align: justify;
}

a.nounder:hover {
  text-decoration: none;
  border-bottom: none;
}

h1 {
  font-size: @fsize1;
  padding: 0.25em 0;
  margin: 0;
}

h2 {
  font-size: @fsize2;
  padding: 0.25em 0;
  margin: 0;
}

h3 {
  font-size: @fsize3;
}

h4 {
  font-size: @fsize4;
}

h5 {
  font-size: @fsize5;
}

h6 {
  font-size: @fsize6;
}

legend {
  padding: 10px 0 0 0;
}

.label {
  color: @color1;
}

.label-default {
  background-color: @color1;
}

.label-purchase {
  background-color: @color3;
}

.label-sale {
  color: @color2;
}

.label-inverse {
  color: @color2;
}

.label .label-new {
  color: @color2;
}

.label .label-accepted {
  color: @color2;
}

.label .label-declined {
  color: @color2;
}

.label .label-fully_funded {
  color: @color2;
}

.label .label-partially_funded {
  color: @color2;
}

.label .label-payout_requested {
  color: @color2;
}

.label .label-payout_request_accepted {
  color: @color2;
}

.label .label-payout_pending {
  color: @color2;
}

.label .label-payout_pending_authorization {
  color: @color2;
}

.label .label-complete {
  color: @color2;
}

.label .label-cancelled {
  color: @color2;
}

.label .label-request_to_cancel {
  color: @color2;
}

.label .label-cancel_accepted {
  color: @color2;
}

.label .label-disputed {
  color: @color2;
}

.label .label-dispute_resolved {
  color: @color2;
}

.label .label-changed {
  color: @color2;
}

.label .label-change_confirmed {
  color: @color2;
}

.label .label-pending_staff_review {
  color: @color2;
}

.label .label-resolved_by_staff {
  color: @color2;
}

.label .label-blocked {
  color: @color2;
}

.nav-header {
  padding-left: 20px;
  font-weight: bold;
}

.content {
  .main {
    margin: 1em 0;
    blockquote {
      margin-top: 20px;
    }
    .home-content {
      p.small-para {
        font-size: @fsize6;
      }
    }
  }
  .carousel {
    padding-top: 15px;
    .carousel-caption {
      margin: 0;
      padding: 0 20px;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-color: @color3;
      .transparent(85, 0.85);
      h4 {
        font-size: @fsize5;
        padding: 10px 0 5px;
        margin: 0;
      }
      p {
        font-size: @fsize6;
      }
    }
    .carousel-control {
      font-size: 8em;
      top: 120px;
    }
  }
  blockquote {
    p {
      text-align: left;
      font-size: @fsize3;
      font-family: 'Open Sans Condensed', sans-serif;
      small {
        font-size: @fsize6 - 0.25em;
        padding-bottom: 5px;
        padding-left: 10px;
      }
    }
  }
}

hr {
  padding: 0;
  margin: 10px 0;
}

footer {
  font-size: @fsize6;
  margin-bottom: 1em;
}

.service-providers {
  background-color: @color3;
  display: block;
  padding: 5px;
  margin: 0 0 10px;
  h6 {
    padding-top: 7px;
    padding-left: 10px;
  }
  img {
    margin: 0 3.5em;
    vertical-align: middle;
  }
}

table {
  background-color: @color3;
}

thead {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0;
  margin: 0;
}

.table-condensed thead tr > th {
  padding: 0 5px;
}

.table tbody tr.odd {
}

.table {
  .transaction-name {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 50%;
  }
  .reference {
    font-size: @fsize4;
    line-height: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}

.stamp {
  text-align: center;
  .title {
    line-height: 1em;
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
  }
  .datetime .title {
    padding-bottom: 2px;
  }
}

.date {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 1.2em;
  padding: 3px 0;
  width: 65px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1em;
  .year {
    display: block;
    font-size: 0.85em;
  }
}

.datetime {
  text-align: center;
  display: block;
  width: 120px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.1em;
  .time {
    font-weight: bold;
    font-size: 1.1em;
    float: right;
    padding: 8px 8px 0 4px;
  }
  .date {
    font-size: 0.9em;
    line-height: 1.3em;
    padding: 3px 3px 0;
  }
}

.reference {
  font-weight: normal;
  a {
    font-weight: bold;
  }
}

.currency {
  text-align: right;
}

.first-row {
  text-align: right;
}

.second-row {
  text-align: right;
}

.transaction {
  padding: 0 15px;
  .stamp {
    float: right;
    .datetime {
      .date {
        line-height: 1.2em;
      }
      .title {
        font-size: @fsize6 - 0.1em;
      }
    }
    .date {
      margin-right: 20px;
      .title {
        font-size: @fsize6;
      }
    }
  }
  .sale .stamp {
    color: @color3;
  }
  .purchase .stamp {
    background-color: @color3;
    .datetime {
      background-color: @color3;
      .date {
        background-color: @color3;
        border: none;
      }
    }
    .date {
      background-color: @color3;
    }
    .year {
      background-color: @color3;
    }
  }
  .information {
    padding-top: 10px;
    text-align: right;
    .stamps {
      display: block;
      width: 100%;
      height: 65px;
    }
    .participants {
      display: block;
      .participant {
        margin-bottom: 12px;
      }
    }
    dl {
      margin: 15px 0 0 0;
      padding: 5px 0 15px 0;
      dt.reference {
        padding: 17px 0 0 0;
        height: 45px;
      }
      dd.reference {
        font-size: 2em;
        height: 45px;
      }
      dt {
        font-weight: normal;
        height: 30px;
        padding-top: 8px;
      }
      dd {
        font-weight: bold;
        font-size: 1.5em;
        height: 35px;
      }
    }
    .state {
      padding: 8px 0 20px;
      .label {
        font-size: @fsize5;
      }
    }
  }
  .information2 {
    h2 {
      padding: 5px 0 10px;
    }
  }
}

.breadcrumb {
  background-color: @color3;
  padding: 5px 0;
  margin: 0;
}

.breadcrumb > li a {
  text-decoration: underline;
  font-weight: bold;
}

.breadcrumb > li a:hover {
  text-decoration: underline;
}

.breadcrumb > .active {
  font-weight: normal;
}

.transactions {
  .options {
    .dropdown {
    }
    .btn {
      margin: -10px 0 10px 0;
    }
  }
  .no-transactions {
    h3 {
      margin: 0;
      padding: 5px 0 10px;
    }
  }
}

.dash-content {
  .dash-top {
    .btn {
      margin-top: 15px;
    }
  }
}

.alert {
  margin: 20px 0;
}

#fileupload {

  .fileupload-buttonbar {
    .btn {
      margin-right: 10px;
    }
  }

  .fileupload-progress {

  }

  .btn {
    .glyphicon {
      margin-right: 5px;
    }
  }

  table {
    .btn + input {
      margin-left: 10px;
    }

    .btn + .btn {
      margin-left: 10px;
    }
  }

  .fileinput-button {
    position: relative;
    overflow: hidden;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      font-size: 200px;
      cursor: pointer;
    }
  }
}

ul.comments .thumbnail {
    padding:0px;
}

.ul.comments .panel {
    position:relative;
}

ul.comments .panel > .panel-heading:after,
ul.comments .panel > .panel-heading:before {
    position:absolute;
    top:11px;
    left:0px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}

ul.comments .panel > .panel-heading:after {
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}

ul.comments .panel > .panel-heading:before {
    border-right-color:#ddd;
    border-width:8px;
}

ul.comments {
    margin: 0;
    padding: 0;
}

ul.comments li {
    list-style-type: none;
}

.alert.info {
    .alert-info
}

.alert.warning {
    .alert-warning
}

.alert.danger {
    .alert-danger
}

.alert.error {
    .alert-danger
}

.form-control.bank-account-number {
    width: auto;
    margin-right: 10px;
    display: inline-block;
}

.dashboard-log .dl-horizontal dt{
    text-align: left;
    margin-bottom: 0.2em;
    width: auto;
    padding-right: 1em;
}

.dashboard-log .dl-horizontal dd{
    margin-left: 0;
    margin-bottom: 0.2em;
}

.centered-container {
  margin: 2em auto;
  max-width: 100%;
}

.title-container {
  text-align: center;
  p { text-align: center }
}

.btn-social {
  margin-bottom: .6em;
}

.divider {
  margin: 1em auto;
  text-align: center;

  .content {
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      border-bottom: 1px solid white;
      border-top: 1px solid rgba(171, 169, 169, 0.53);
      width: 40%;
      top: 50%;
    }

    &:before { left: 0;}
    &:after  { right: 0;}
  }
}

.combodate .form-control {
  display: inline;
  margin: .5em;
}

.modal-xl { width: 98%; }

// FIXME: maybe create a smarter selector here, probably create a special
// container for poi/a options modals instead of using .alert
.alert ul {
 padding: 0 0 0 1.1em;

 &.inline-ul {
  display: inline-block;
  padding-left: 3em;
 }
}

.inline-input {
  display: inline-block;
  width: auto;
  margin: .5em;
}

@media (min-width: @screen-sm-min) {

  .divider.vertical-divider {
    margin-top: 10em;
  }

  .centered-container {
    max-width: 60%;
  }

}
